*, *::after, *::before{
  box-sizing: border-box;
}

#root, .App, html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.gameImg {
  max-width: 70%;
}

.g1,
.g2 {
  grid-column: 1/3;
}

.g3 {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  height: 200px;
}

.g4 {
  grid-column: 1/3;
}

.owner {
  grid-column: 1/3;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.main {
  max-width: 80%;
  margin: 0 auto;
}

.votes {
  display: flex;
  justify-content: center;
}

.upvote {
  color: green;
}

.upvoteEnable {
  color: rgb(1, 79, 1);
}

.downvote {
  color: red;
}

.downvoteEnable {
  color: rgb(133, 0, 0)
}

.upvote,
  .downvote,
    .upvoteEnable,
      .downvoteEnable {
  width: 6em;
  height: 6em;
}

.userCommentCard{
  border: #282c34 1px solid;
  margin: 1% 2%;
}

.comments {
  margin: 2em auto;
}

.commentList {
  border: #282c34 1px solid;
}


@media screen and (max-width: 1232px) {
  .reviewCards {
    width: 70%;
  }
}
