body, textarea {
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

  margin: 0;
  font-family: 'Lato', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
